:css 
  .answers {
    margin-top: 30px;
  }
  
  .lead {
    color: black;
  }

  .answers .progress-bar {
    width: 100%;
  }
  
  .answers .footer {
    color: #999;
  }
  
  .answer {
    margin-bottom: 20px;
  }
  
  .answer h2 {
    margin-top: 0;
  }
  
  .answer .ago {
    color: #999;
  }

.row
  .span6.offset3
    .answers
      %h2 YOUR ANSWERS
      
      .boxed.answer
        .ago 3 days ago
        %h2 Should I become a startup founder?
        .answers
          .progress-bar
            .progress
              %span.field
                Yes
              %span.field-value.fade-in 15%
              .bar{style: "width: 15%;"}
          .progress-bar
            .progress
              %span.field
                No
              %span.field-value.fade-in 25%
              .bar{style: "width: 25%;"}
          .progress-bar
            .progress
              %span.field
                What??
              %span.field-value.fade-in 60%
              .bar{style: "width: 60%;"}
        .footer
          10 out of 22 friends voted

      .boxed.answer
        .ago 4 days ago
        %h2 Should I wear my shoes at all?
        .answers
          .progress-bar
            .progress
              %span.field
                Yes
              %span.field-value.fade-in 15%
              .bar{style: "width: 15%;"}
          .progress-bar
            .progress
              %span.field
                No
              %span.field-value.fade-in 85%
              .bar{style: "width: 85%;"}
        .footer
          10 out of 22 friends voted
              
              
              
        