.row
  .span6.middle.offset3
    %form.question-form 
      %fieldset
        %label{for: "question"} 
          %h4 Your question
        %textarea.question{id: "question", id: "question", placeholder: "Example: Should I continue being cruel to small, helpless animals?"}
      %fieldset.answers
        %h4 Possible answers
        .answer-inputs
          %input{name: "answer", type: "text", placeholder: "Answer A"}
          %input{name: "answer", type: "text", placeholder: "Answer B"}
        .answer-actions
          %button.btn.btn-tiny.plus
            %i.icon-plus
          %button.btn.btn-tiny.minus
            %i.icon-minus
      %fieldset.pros_and_cons
        .pros>
          %h4 Pros 
          .pro-inputs
            %input.pro{name: "pro", type: "text", placeholder: "Example: I simply like it"}
          .pro-actions
            %button.btn.btn-tiny.plus
              %i.icon-plus
            %button.btn.btn-tiny.minus
              %i.icon-minus
        .cons
          %h4 Cons
          .con-inputs
            %input.con{name: "con", type: "text", placeholder: "Example: It is illegal."}
          .con-actions
            %button.btn.btn-tiny.plus
              %i.icon-plus
            %button.btn.btn-tiny.minus
              %i.icon-minus
      .form-footer
        .left-half>
          %button.btn.btn-primary.btn-large.ask_crowd.btn-main
            %strong 
              %i.icon-globe
              Ask crowd
      
        .right-half
          %button.btn.btn-primary.btn-large.btn-main.ask_friends
            %strong 
              %i.icon-facebook-sign
              Ask friends
.row
  .span6.offset3.posted-questions
    %h3
      %i.icon-globe
      Questions from the crowd
    %ul



%script{type: "text/html", id: "posted-question-template"}
  %li.boxed.posted-question 
    .left-half>
      .text <%= question %>
    .right-half
      .choices
        <% _.each(answers, function(answer) { %>
        .btn.btn-small.m-btn <%= answer %>
        <% }); %>
  
:css

  .answer-inputs input {
    margin-bottom: 5px;
  }
  
  .pro-inputs input {
    margin-bottom: 5px;
  }
  
  .con-inputs input {
    margin-bottom: 5px;
  }
  
  .posted-question .left-half {
    vertical-align: top;
  }
  
  .posted-question .btn {
    display: block;
    clear: left;
  }

  .posted-questions {
    margin-top: 50px;
  }
  
  .posted-questions ul {
    margin: 0;
  }
  
  .posted-question {
    list-style: none;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
  }
  
  .question {
    margin: 0;
    padding: 2%;
    width: 96%;
  }

  .form-footer {
    width: 100%;
    margin-top: 20px;
  }
  
  .answers {
    margin-top: 10px;
    display: none;
  }
  
  .answers input {
    display: block;
  }
  
  .pros_and_cons {
    display: none;
    // background-color: #EFEFEF;
    margin: 30px 0 0 0;
    padding: 0;
  }
  
  .pros, .cons {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  
  .pros input {
    width: 90%;
  }
  
  .cons input {
    width: 90%;
  }
  
  .choices {
    margin-left: 5px;
  }
  
  
  
:javascript
  $(function() {
    var lastAnswerChar = 65 + 1; // B
    $('.question').focus(function() {
      $(".answers").fadeIn();
      $(".pros_and_cons").fadeIn();
    });
    
    $('.answer-actions .plus').click(function(e) {
      e.preventDefault();
      ++lastAnswerChar;
      $(".answer-inputs").append("<input name='answer' type='text' placeholder='Answer " + String.fromCharCode(lastAnswerChar) + "'/>");
    });

    $('.answer-actions .minus').click(function(e) {
      e.preventDefault();
      lastAnswerChar--;
      $(".answer-inputs input").last().remove();
    });
    
    $('.pro-actions .plus').click(function(e) {
      e.preventDefault();
      $(".pro-inputs").append("&nbsp;<input name='pro' type='text' placeholder='Example: I like it.'/>");
    });

    $('.pro-actions .minus').click(function(e) {
      e.preventDefault();
      $(".pro-inputs input").last().remove();
    });
    
    $('.con-actions .plus').click(function(e) {
      e.preventDefault();
      $(".con-inputs").append("&nbsp;<input name='con' type='text' placeholder='Example: It's not legal.'/>");
    });

    $('.con-actions .minus').click(function(e) {
      e.preventDefault();
      $(".con-inputs input").last().remove();
    });
    
    function postQuestion(question, answers, animate) {
      var template = _.template($("#posted-question-template").html());
      if (animate)
        $(".question-form .question").effect('transfer', {to: '.posted-questions ul'});
      $(".posted-questions ul").prepend(template({question: question, answers: answers}));
    }
    
    $('.ask_crowd').click(function(e) {
      e.preventDefault();
      var q = $(".question").val();
      
      var answers = [];
      $(".answer-inputs input").each(function(i, answer) {
        answers.push($(answer).val());
      });

      postQuestion(q, answers, true);
    });
    
    
    
    //----- 
  
    postQuestion("Should I launch a startup???", ['Well, sort of...', 'Never in your life!']);
    postQuestion("Should I change my job?", ['Yes', 'No']);
    postQuestion("What car should I choose?", ['Volkswagen Beetle', 'Maybach']);
  });