:javascript

  $(function() {
    $(".answers .btn").click(function(e) {
      e.preventDefault();
      $(e.target).parents("li").fadeOut();
      var questionsLeft = $(".questions li:visible").length;
      console.log(questionsLeft)
      if (questionsLeft === 1) {
        $(".take_test").hide(function() {
          $(".test_result").fadeIn();
        });
      }
    });
  });

:css
  .questions li {
    list-style: none;
  }
  
  .q-no {
    display: none;
  }
  
  .question.lead {
    display: inline-block;
  }
  
  .answers {
    text-align: left;
    margin-top: 0px;
  }
  
  .answers .btn {
    width: 50px;
  }
  
  .q-no {
    margin-right: 5px;
  }
  
  ul.questions {
    margin: 30px 0;
  }
  
  .questions li {
    margin: 40px 0;
    padding: 0;
    background-color: white;
    border: none;
  }
  
  .test_result {
    display: none;
    text-align: center;
  }
  
.row
  .span6.offset3
    .take_test
      %h2 DISCOVER YOUR DECISION-MAKING STYLE!
      %h3 Take a test...
    
    %ul.questions
      %li.boxed
        .q-no 1
        .question.lead You are almost never late for your appointments.                         
        .answers
          .btn.btn-main-small Yes
          .btn.btn-main-small No

      / %li.boxed
      /   .q-no 2
      /   .question.lead You like to be engaged in an active and fast-paced job               
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No
      /  
      / %li 
      /   .q-no 3
      /   .question.lead You enjoy having a wide circle of acquaintances                           
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No
      /  
      / %li 
      /   .q-no 4
      /   .question.lead You feel involved when watching TV soaps                                   
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No
      /  
      / %li 
      /   .q-no 5
      /   .question.lead You are usually the first to react to a sudden event, such as the telephone ringing or unexpected question?
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No
      /  
      / %li 
      /   .q-no 6
      /   .question.lead You are more interested in a general idea than in the details of its realization? 
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No
      / 
      / 
      / %li.boxed
      /   .q-no 7
      /   .question.lead You tend to be unbiased even if this might endanger your good relations with people          
      /   .answers
      /     .btn.btn-main-small Yes
      /     .btn.btn-main-small No

      .test_result.boxed
        %h1 Thank you!