:css

  .guide {
    color: black;
  }
  
  .guide a {
    font-weight: 1500;
  }

  .nav-collapse, .btn-navbar, .build_profile_right {
    display: none!important;
  }

  .friend {
    width: 146px;
    height: 150px;
    vertical-align: top;
  }
  
  .should_i {
    display: inline-block;
    margin-left: 50px;
  }
  
  .answers {
    margin-top: 30px;
  }
  
  .question_wrapper {
    vertical-align: top;
  }
  
  .friend_wrapper {
    display: inline-block;
  }
  
.row
  .span8.offset2
    %h4.lead.guide Help <a href="#">Przemek Urbański</a> make a decision. What's your advice?
    .question_wrapper
      %img.friend{src: "/img/friend.jpg", align: "top"}
      .should_i 
        %h2.question
          Should I quit my job?
        .answers
          .btn.btn-main-small Yes
          .btn.btn-main-small No
    .pros_and_cons
      .pros.left-half>
      .pros.right-half
          
      