/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 


@media (max-width: 979px) {

  body {
    margin-top: 0;
  }

  .build_profile_right {
    display: none;
  }
  
  .build_profile {
    display: block;
  }
}

@media (min-width: 980px) {

  body {
    margin-top: 98px;
  }

  .build_profile_right {
    display: block;
  }
  
  .build_profile {
    display: none;
  }
}
